* {
    background-color: black;
}

#logo {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 50px;
}

#logo img {
    width: 30%;
    height: auto;
}

ul {
    display: inline-flex;
    list-style: none;
    white-space: nowrap;
    margin-left: -380px;
    margin-top: 40px;
}

.foot {
    display: inline-flex;
    list-style: none;
    white-space: nowrap;
    margin-left: -100px;
    margin-top: 1050px;
}

li {
    margin-left: 30px;
    background-color: rgba(255, 217, 0, 0);
}

.header {
    display: inline;
    margin-left: 20%;
    color: white;
}

 button { 
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
    font-family: "League Spartan";
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    margin-left: 15px;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 15px;
    cursor: pointer;
}

button.header.home {
    border-bottom: white;
    border-bottom-width: 2px;
    border-top: black;
    border-left: black;
    border-right: black;
    border-style: solid;
}

button:hover {
    font-weight: bold;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#book {
    display: inline;
    border-style: solid;
    border-radius: 15px;
    background-color: gold;
    color: black;
    font-weight: 500;
    margin-left: 50px;
    margin-top: -10px;
    border-color: rgb(160, 113, 43);
    padding: 20px;
}

.header.faq {
    margin-left: 0px;
}

.header.tutor {
    margin-left: 0px;
}

.header.contact {
    margin-left: 15px;
}

#study {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 150px;
  min-width: 100%;
  min-height: 50%;
  color: rgba(0, 0, 0, 0.363);
}

.content {
  position: absolute;
  bottom: 0;
  top: 150px;
  left: -20px;
  background: rgba(0, 0, 0, 0.171);
  color: black;
  width: 100%;
  height: 100%;
  padding-bottom: 90px;
  padding-right: 20px;
}

.learn {
    position: absolute;
    text-align: center;
    margin-top: 355px;
    padding-top: 45px;
    display: block;
    color: rgba(255, 217, 0, 0);
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 18%;
    top: 430px;
    left: 0;

}

.connect {
    position: absolute;
    text-align: center;
    margin-top: 435px;
    margin-left: 100px;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 40px;
    
}

#learn {
    position: absolute;
    display: block;
    border-style: solid;
    border-radius: 15px;
    background-color: gold;
    color: black;
    font-weight: 500;
    margin-left: 625px;
    margin-top: 500px;
    border-color: rgb(0, 0, 0);
}

    #learn:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

      .arrow2 {
        border: solid rgb(255, 217, 0);
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
        margin-left: 615px;
        margin-top: 550px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

    #about {
        position: absolute;
        display: block;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 30px;
        margin-left: 673px;
        margin-top: 70px;
        padding-bottom: 500px;
        font-family: "League Spartan";
      }

      .aboutsec {
          position: relative;
          display: inline-flex;
          margin-top: 200px;
          margin-left: 135px;
      }

      .aboutsec img {
          margin-right: 95px;
      }

      .abouthead {
        position: relative;
        display: inline-flex;
        margin-top: 200px;
        margin-left: 135px;
        color: white;
        font-family: "League Spartan";
        font-weight: 200;
        font-size: 20px;
      }

      .personal {
          white-space: nowrap;
          margin-top: -175px;
          margin-left: 85px;
      }

      .group {
        white-space: nowrap;
        margin-top: -175px;
        margin-left: 60px;
    }

    .experts {
        white-space: nowrap;
        margin-top: -175px;
        margin-left: 105px;
    }

    .personal.p {
        white-space: normal;
        display: inline-flex;
        margin-top: -135px;
        margin-left: -325px;
        text-align: center;
        width: 370px;
        padding-top: 0px;
        line-height: 20px;
        font-size: 15px;
        font-family: "League Spartan";
      }

    .group.p {
      white-space: normal;
      display: inline-flex;
      margin-top: -135px;
      margin-left: -285px;
      text-align: center;
      width: 370px;
      padding-top: 0px;
      line-height: 20px;
      font-size: 15px;
      font-family: "League Spartan";
    }

    .experts.p {
        white-space: normal;
        display: inline-flex;
        margin-top: -135px;
        margin-left: -305px;
        text-align: center;
        width: 370px;
        padding-top: 0px;
        line-height: 20px;
        font-size: 15px;
        font-family: "League Spartan";
      }

      #meet {
        position: absolute;
        display: block;
        border-style: solid;
        border-radius: 15px;
        background-color: gold;
        color: black;
        font-weight: 500;
        margin-left: 615px;
        margin-top: 50px;
        border-color: rgb(160, 113, 43);
      }

      #hours {
        position: absolute;
        display: block;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 30px;
        margin-left: 672px;
        margin-top: 185px;
        padding-bottom: 500px;
        font-family: "League Spartan";
      }

      .days {
        position: absolute;
        display: block;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 25px;
        margin-left: 585px;
        margin-top: 225px;
        padding-bottom: 500px;
        font-family: "League Spartan";
        text-align: center;
      }

      .reach {
    position: absolute;
    text-align: center;
    margin-top: 650px;
    padding-top: 45px;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 80%;
    left: 0;
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 40px;
      }

    #contact {
        position: absolute;
        display: block;
        border-style: solid;
        border-radius: 15px;
        background-color: gold;
        color: black;
        font-weight: 500;
        margin-left: 475px;
        margin-top: 760px;
        border-color: rgb(0, 0, 0);
    }

    .or {
        position: absolute;
    text-align: center;
    margin-left: 690px;
    margin-top: 730px;
    padding-top: 45px;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 30px;
    }

    #buy {
        position: absolute;
        display: block;
        border-style: solid;
        border-radius: 15px;
        background-color: gold;
        color: black;
        font-weight: 700;
        margin-left: 770px;
        margin-top: 760px;
        border-color: rgb(0, 0, 0);
    }

    .vmtutor {
    position: absolute;
    text-align: center;
    margin-left: 655px;
    margin-top: 1220px;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 20px;
    }

    .top a {
    position: absolute;
    text-align: center;
    margin-top: 1125px;
    margin-left: 660px;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 20px;
    }

    .copy {
    position: absolute;
    text-align: center;
    margin-left: 535px;
    margin-top: 1250px;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 15px;
    }

    .footer {
        display: inline;
        margin-left: 20%;
        color: white;
        background-color: rgb(255, 217, 0);
    }

    .foot {
    display: inline-flex;
    position: absolute;
    list-style: none;
    white-space: nowrap;
    margin-left: -400px;
    margin-top: 1000px;
    }

    button.footer.home {
        border-bottom: black;
        border-bottom-width: 2px;
        border-top: rgb(255, 217, 0);
        border-left: rgb(255, 217, 0);
        border-right: rgb(255, 217, 0);
        border-style: solid;
    }

    button.footer { 
        background-color: rgb(255, 217, 0);
        font-size: 20px;
        font-family: "League Spartan";
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: none;
        cursor: pointer;
    }

    ul.foot {
        display: inline-flex;
        list-style: none;
        white-space: nowrap;
        margin-left: -80px;
        margin-top: 1050px;
    }

    /* Style the form element with a border around it */
form {
    border: 4px solid black;
    position: absolute;
    margin-top: 830px;
    margin-left: 485px;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: rgb(255, 216, 0);
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    border-radius: 16px;
    font-family: "League Spartan";
    font-size: 15px;
    background-color: white;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
    font-weight: 500;
    border-color: rgb(0, 0, 0);
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px;
    width: 50%;
    margin-left: 97px;
    margin-top: 10px;
  }
  
  input[type=submit]:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
  }

  .wrapper {
    margin-top: 1124px;
    margin-left: 600px;
  }

  .wrapper .icon {
  position: relative;
  background-color: #000000;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.103);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before, .fab.fa-facebook-f:hover {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before, .fab.fa-twitter:hover {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before, .fab.fa-instagram:hover {
  background-color: #e1306c;
  color: #ffffff;
}

.fab.fa-instagram {
    background-color: rgba(0, 0, 0, 0);
}

.fab.fa-twitter {
    background-color: #00000000;
}

.fab.fa-facebook-f {
    background-color: rgba(0, 0, 0, 0);
}