* {
    background-color: black;
}

#logo {
    position: relative;
    display: inline-flex;
    margin-top: -0.5%;
    margin-left: 0%;
    width: 50%;
    height: auto;
}

#logo img {
  position: relative;
}

ul {
  z-index: 10;
  position: relative;
    display: inline-flex;
    list-style: none;
    white-space: nowrap;
    margin-left: -20%;
    margin-top: 7%;
    background-color: #00000000;
    width: 100%;
  }

@media only screen and (max-width: 1300px) {
  ul {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1300px) {
  .dropbtn {
    visibility: hidden;
        }
}

li {
    margin-left: 0;
    margin-right: 10%;
    margin-top: 1.5%;
    background-color: rgba(255, 217, 0, 0);
}

.header {
  position: relative;
    display: inline;
    margin-left: 0%;
    color: white;
    width: 100%;
  }

.header.about {
  margin-left: 90%;
  padding: 0%
}

.header.contact {
  margin-left: 70%;
  padding: 0%;
}

.header.faq {
  margin-left: 350%;
  padding: 0%;
}

.header.tutor {
  margin-left: 140%;
  padding: 0%;
}

 button { 
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.3vw;
    font-family: "League Spartan";
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    padding-bottom: 5%;
    padding-top: 1%;
    cursor: pointer;
}

button.header.home {
    border-bottom: white;
    border-bottom-width: 2px;
    border-top: black;
    border-left: black;
    border-right: black;
    border-style: solid;
    padding-left: 3%;
    padding-right: 10%;
}

button:hover {
    font-weight: bold;
    animation: bounce 1s infinite;
}

#book {
    display: inline;
    border-style: solid;
    border-radius: 15px;
    background-color: gold;
    color: black;
    font-weight: 500;
    margin-left: 50%;
    margin-top: -3%;
    border-color: rgb(160, 113, 43);
    padding: 4%;
}

#study {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  top: 15%;
  width: 100%;
  height: auto;
  color: rgba(0, 0, 0, 0.363);
}

.black.box {
  position: absolute;
  width: 105%;
  margin-left: -2%;
  margin-top: 2%;
  padding-bottom: 15%;
}

.learn {
    position: absolute;
    text-align: center;
    margin-top: 18%;
    padding-bottom: 10%;
    display: block;
    color: rgba(255, 217, 0, 0);
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: auto;
    left: 0;
    overflow: hidden;
}

.connect {
    z-index: 12;
    position: absolute;
    text-align: center;
    margin-top: 20%;
    margin-left: -1%;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 2vw;
    width: 100%;
    height: auto;
    
}

#learn {
  font-size: 1.5vw;
  white-space: nowrap;
    padding: 1%;
    position: relative;
    display: block;
    border-style: solid;
    border-radius: 15px;
    background-color: gold;
    color: black;
    font-weight: 500;
    margin-left: 42.7%;
    margin-top: 23%;
    width: 15%;
    border-color: rgb(0, 0, 0);
}

    #learn:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

    #about {
        position: relative;
        display: flex;
        align-content: center;
        width: 0.1%;
        height: auto;
        background-color: black;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 2vw;
        margin-left: 47.3%;
        margin-top: 5%;
        font-family: "League Spartan";
      }

    .imagerow {
      position: relative;
      display: flex;
      margin-left: 12%;
      margin-top: 5%;
      z-index: 2;
    }
    
    .column {
      flex: 33.33%;
      padding: 5px;
    }

    .wordrow {
      display: flex;
      margin-left: 2%;
      margin-top: 0%;
    }
    
    .column1 {
      flex: 33.33%;
      padding: 5px;
    }

    .aboutheader {
      color: white;
      font-family: "League Spartan";
      font-size: 1.6vw;
    }

    .aboutheader.g {
      margin-left: 40%;
    }

    .aboutheader.p {
      margin-left: 23.5%;
    }

    .aboutheader.e {
      margin-left: 17.5%;
    }

    .para {
      color:white;
      text-align: center;
      font-family: "League Spartan";
      font-size: 1.2vw;
      line-height: 110%;
      font-weight: 200;
      width: 65%;
    }

    .para.g {
      margin-top: -2%;
      margin-left: 20%;
      width: 75%;
    }

    .para.p {
      margin-top: -2%;
      margin-left: 7%;
      width: 80%;
    }

    .para.e {
      margin-top: -2%;
      margin-left: 0%;
      width: 75%;
    }

      #meet {
        position: relative;
        display: block;
        border-style: solid;
        border-radius: 15px;
        background-color: gold;
        color: black;
        font-weight: 500;
        margin-left: 41%;
        border-color: rgb(160, 113, 43);
        padding: 1%;
        font-size: 1.5vw;
        width: 18%;
        height: auto;
      }

      #meet:hover {
        background-color: white;
      }
    
      #hours {
        position: relative;
        display: block;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 2.5vw;
        margin-left: 46%;
        margin-top: -3%;
        font-family: "League Spartan";
      }

      .days {
        position: relative;
        display: block;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 2vw;
        font-family: "League Spartan";
        text-align: center;
        margin-left: 0%;
        margin-bottom: ;
      }

      .reach {
    position: absolute;
    text-align: center;
    margin-top: 3%;
    padding-top: 2%;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 76%;
    left: 0;
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 2vw;
   }

    #contact {
        position: relative;
        display: block;
        border-style: solid;
        border-radius: 15px;
        background-color: gold;
        color: black;
        font-weight: 500;
        margin-left: 28%;
        margin-top: 10%;
        font-size: 1.5vw;
        padding: 1%;
        border-color: rgb(0, 0, 0);
        width: 17%;
        height: auto;
    }

    #contact:hover {
      background-color: white;
    }

    .or {
    position: relative;
    text-align: center;
    margin-left: 0%;
    margin-top: -2.5%;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    font-family: "League Spartan";
    font-weight: 500;
    width: 100%;
    height: auto;
    font-size: 2vw;
    }

    #buy {
        position: relative;
        display: block;
        border-style: solid;
        border-radius: 15px;
        background-color: gold;
        color: black;
        font-weight: 500;
        margin-left: 55%;
        margin-top: -4.65%;
        padding: 1%;
        font-size: 1.5vw;
        border-color: rgb(0, 0, 0);
        width: 17%;
        height: auto;
    }

    #buy:hover {
      background-color: white;
    }

    .newsletter {
      position: absolute;
    text-align: center;
    margin-top: 2%;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    width: 100%;
    left: 0;
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 2vw;
    }

    .top a {
    position: relative;
    text-align: center;
    margin-top: 1%;
    margin-left: -1%;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 20px;
    }

    .footer {
        display: inline;
        margin-left: 20%;
        color: white;
        background-color: rgb(255, 217, 0);
    }

    .foot {
    display: inline-flex;
    position: absolute;
    list-style: none;
    white-space: nowrap;
    margin-left: -400px;
    margin-top: 1000px;
    }

    button.footer.home {
        border-bottom: black;
        border-bottom-width: 2px;
        border-top: rgb(255, 217, 0);
        border-left: rgb(255, 217, 0);
        border-right: rgb(255, 217, 0);
        border-style: solid;
    }

    button.footer { 
        background-color: rgb(255, 217, 0);
        font-size: 20px;
        font-family: "League Spartan";
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: none;
        cursor: pointer;
    }

    ul.foot {
        display: inline-flex;
        list-style: none;
        white-space: nowrap;
        margin-left: -80px;
        margin-top: 1050px;
    }

    /* Style the form element with a border around it */
form {
    border: 4px solid black;
    position: relative;
    margin-top: 5%;
    margin-left: 35%;
    width: 30%;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 10px;
    background-color: rgb(255, 216, 0);
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 6px;
    margin: 6px 0;
    display: inline-block;
    border: 3px solid black;
    border-radius: 16px;
    font-family: "League Spartan";
    font-size: 15px;
    background-color: white;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
    font-weight: 500;
    border-color: rgb(0, 0, 0);
    font-size: 1.5vw;
    letter-spacing: 2px;
    padding: 1.5%;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
  }
  
  input[type=submit]:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .wrapper {
    position:relative;
    background-color: rgb(255, 217, 0);
    display: flex;
    margin-top: 1%;
    margin-left: 37%;
  }

  .wrapper .icon {
  position: relative;
  background-color: #000000;
  border-radius: 50%;
  margin: 10px;
  width: 10%;
  height: 40%;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.103);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: rgb(51, 51, 51);
  text-decoration: none;
  margin-left: 2%;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before, .fab.fa-facebook-f:hover {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before, .fab.fa-twitter:hover {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before, .fab.fa-instagram:hover {
  background-color: #e1306c;
  color: #ffffff;
}

.fab.fa-instagram {
    background-color: rgba(0, 0, 0, 0);
    flex: 33.33%;
}

.fab.fa-twitter {
    background-color: #00000000;
    flex: 33.33%;
}

.fab.fa-facebook-f {
    background-color: rgba(0, 0, 0, 0);
    flex: 33.33%;
}

.vmtutor {
  position: relative;
  text-align: center;
  margin-left: -0.5%;
  margin-top: 1%;
  display: block;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 217, 0);
  font-family: "League Spartan";
  font-weight: 500;
  font-size: 1.5vw;
  }

  .copy {
    position: relative;
    text-align: center;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 1vw;
    margin-top: -1%;
    }